<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
</head>
<body>
<h1>Blackjack</h1>
<br>
<div>
    Our winners(no) <span th:text="${deposits}"></span>
</div>
<br>
<div>
    Maximum deposit <span th:text="${maxDeposit}"></span>
</div>
<br>
<div>
    Your account <span th:text="${blackjackInfo.getDeposit()}"></span>
</div>
<form th:action="@{/round/{id}(id=${blackjackInfo.getId()})}" method="post">
    <input type="number" name="betSize" placeholder="Ladies and gentlemen, place your bets" step="50" style="width: 300px;">
    <button type="submit" name="submitButton" value="STARTGAME">start a game</button>
</form>
<br>
<div>
    Hand:
    <span th:each="card, iterStat : ${blackjackInfo.usersCards}">
        <span th:text="${card}"></span>
        <!-- Добавляем пробел после каждой карты, кроме последней -->
        <span th:if="${!iterStat.last}"> </span>
    </span>
</div>


<br>
<div th:if="${not #lists.isEmpty(blackjackInfo.dealersCards)}">
    Dealers cards:
    <span th:each="card, iterStat : ${blackjackInfo.dealersCards}">
        <span th:text="${card}"></span>
        <!-- Добавляем пробел после каждой карты, кроме последней -->
        <span th:if="${!iterStat.last}"> </span>
    </span>
</div>


<form th:action="@{/hitMove/{id}(id=${blackjackInfo.getId()})}" method="post">
    <button type="submit" name="submitButton" value="HIT">Hit</button>
</form>
<form th:action="@{/standMove/{id}(id=${blackjackInfo.getId()})}" method="post">
    <button type="submit" name="submitButton" value="STAND">Stand</button>
</form>

<div>
    <span th:text="${blackjackInfo.getMessage()}"></span>
</div>
<form th:action="@{/evenOdd/{id}(id=${blackjackInfo.getId()})}" method="post">
    <input type="number" name="betSize" placeholder="Ladies and gentlemen, place your bets" step="50" style="width: 300px;">
    <button type="submit" name="submitButton" value="EVEN">EVEN</button>
    <button type="submit" name="submitButton" value="ODD">ODD</button>
</form>
<br>
<div>
    <span th:text="${blackjackInfo.getFirstDiceNumber()}"></span>
     <span th:text="${blackjackInfo.getSecondDiceNumber()}"></span>
</div>
<br>
<div>
    <span th:text="${turnInfo}"></span>
</div>
<div>
    Win coefficient <span th:text="${winCoefficient}"></span>
</div>
<a th:href="@{/}">Go back to main page</a>

</body>
</html>